charset utf-8
/* CSS Document */
body {
	background-color: #F1C8C9;
	width: 600px;
	margin: 0px auto 0px auto;
}

p {text-align: justify;
color: #000000;
font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";}

img {width: 600px;}

.center-img {display: block;
             margin: 0 auto;}

.zagolovok {color: #C90306;
            font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
            text-align: center;}

